configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{icon} {name}";
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 󰕰  Window ";
    display-combi: "  Menu";
    sidebar-mode: true;
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "style"
